td {
    border:1px solid black;
  background-color: #4f6082;
}

table, th {
  background-color: #182132;
  border: 2px solid black;
}
body {
  background-color: #242d3e;
  }
a {
  background-color:white; 
  border-width:3px; 
  border-style:solid; 
  border-color:#1c1c1c;
  padding: 6px;
  border-radius: 6px;
}
tr{
  color: white;
}
td:nth-child(odd) {
  background-color: #3a4b6b;
}
td:hover {
  background-color: #5d739e;
}
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
  
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}