body {
    text-align:justify;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #242d3e;
}

fieldset {
    margin-left: 22.5%;
    margin-right: 22.5%;
    background-color: #182132;
    display: grid;
    grid-template-columns: 1fr 1fr; /* this */
    grid-gap: 20px; 
    border: 1px solid #4f6082;
}

input {
    margin: 5px;
}

.inputs {
    margin-left: 25px;
}

.texto {
    margin-left: 125px;
    background-color: #CFCFCF;
    outline: 0.1px solid;
}

table, th, td {
    border:1px solid black;
}

.tooltip {
    color: #242d3e;
    background-color: white;
    border-radius: 9px;
    position: absolute;
    left: 70%;
    display: inline-block;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 6px;
    padding-left: 6px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: white;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 10px;
    padding: 5px 0;
    border-width:3px; 
    border-style:solid; 
    border-color:#1c1c1c;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 1%;
    left: 1%;
    margin-left: -510px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
  
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}